<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="layout.css"/>
    <link rel="stylesheet" href="tabel-structur.css"/>
</head>
<body>

<header>
    <nav>
        <div class="nav-bar">

            <div class="logo">
                <a href="/">Bakery By Hermann</a>
            </div>

            <ul>
                <li><a href="/">Afdelinger</a></li>
                <div class="dropdown">
                    <li><a href="/">Ansatte</a></li>
                    <div class="dropdown-content">
                        <a href="/baker">Bager</a>
                        <a href="/cashier">Butiksansat</a>
                        <a href="/driver">Chauffør</a>
                    </div>
                </div>
                <li class="kunde-active"><a href="/show-customer">Kunder</a></li>
                <li><a href="/show-product">Varer</a></li>
                <div class="dropdown">
                    <li><a href="/">Bestillinger</a></li>
                    <div class="dropdown-content">
                        <a href="/show-orders">Aktive bestillinger</a>
                        <a href="/show-archived">Arkiverede bestillinger</a>
                    </div>
                </div>
                <li><a href=/logout>Log ud</a></li>

            </ul>

        </div>

    </nav>
</header>

<div class="header">
    <h1>Indtast venligst chaufførens oplysninger</h1>
</div>

<div class="form-container">

<form action="/new-product" method="post">


    <label>Vare-navn</label>
    <input type="text" name="productName">
        <label>Pris</label>
    <input type="text" name="price">

    <input type="submit" value="Opret">





    </form>
</div>



</body>
</html>