<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="index.css"/>
    <link rel="stylesheet" href="tabel-structur.css"/>

</head>
<body>

<nav>
    <div class="menu">

        <div class="logo">
            <a href="#">Bakery By Hermann</a>
        </div>

        <ul>
            <li><a href="/">Startside</a></li>
            <li><a href="#">Bestilling</a></li>
            <li><a href="/show-customer">Kunde</a></li>
            <div class="dropdown">
                <li><a href="#">Medarbejder</a></li>
                <div class="dropdown-content">
                    <a href="/baker">Bager</a>
                    <a href="/cashier">Butiksansat</a>
                    <a href="/driver">Chauffør</a>
                </div>
            </div>
            <li><a href="#">Hjælp</a></li>

        </ul>

    </div>

</nav>


<table class="table-new">

    <div id="HeadlineProduct">

        <div class="button-employees">
            <button onclick="window.location.href='/new-product';">Opret ny chauffør</button>
        </div>

        <h1>
            Produkt oplysninger
        </h1>
    </div>

    <thead>
    <tr>
        <th>Vare-nummer</th>
        <th>Vare</th>
        <th>Pris</th>
    </tr>

    <tr th:each="product :${productsList}" >
        <td th:text="${product.productId}"></td>
        <td th:text="${product.productName}"></td>
        <td th:text="${product.price}"></td>

        <td>
            <a th:href="@{'/update-product/'+${product.productId}}">Edit</a>
            <a th:href="@{'/product/'+${product.productId}}">Delete</a>
            <a href="/new-product">Add</a>
        </td>

    </tr>
    </thead>
</table>


</body>
</html>