<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Baker</title>
    <link rel="stylesheet" href="index.css"/>
    <link rel="stylesheet" href="tabel-structur.css"/>

</head>
<body>

<nav>
    <div class="menu">

        <div class="logo">
            <a href="#">Bakery By Hermann</a>
        </div>

        <ul>
            <li><a href="/">Startside</a></li>
            <li><a href="#">Bestilling</a></li>
            <li><a href="/show-customer">Kunde</a></li>
            <div class="dropdown">
                <li><a href="#">Medarbejder</a></li>
                <div class="dropdown-content">
                    <a href="/baker">Bager</a>
                    <a href="/cashier">Butiksansat</a>
                    <a href="/driver">Chauffør</a>
                </div>
            </div>
            <li><a href="#">Hjælp</a></li>

        </ul>

    </div>

</nav>

<table>

    <div id="headline-baker">

        <div class="button-employees">
        <button onclick="window.location.href='/new-baker';">Opret ny bager</button>

            <h1>
                Bager oplysninger
            </h1>

        </div>




    </div>

    <thead>

    <tr>

        <th>Person id</th>
        <th>Fornavn</th>
        <th>Års erfaring</th>
        <th>Rediger</th>
        <th>Slet</th>

    </tr>

    <tr th:each="baker :${bakersList}" >
        <td th:text="${baker.personId}"></td>
        <td th:text="${baker.firstName}"></td>
        <td th:text="${baker.yearsOfExperience}"></td>

        <td><a th:href="@{'/update-baker/'+${baker.personId}}">Rediger</a></td>
        <td><a th:href="@{'/baker/'+${baker.bakerId}}" onclick="return confirm('Du er i gang med at slette. Er du sikker?')">Slet</a></td>

    </tr>

    </thead>

</table>

<table>

    <div id="headline-person"><h1>
        Person oplysninger
    </h1>
    </div>

    <thead>

    <tr>
        <th>Person id</th>
        <th>Medarbejder Id</th>
        <th>Bager id</th>
        <th>Fornavn</th>
        <th>Efternavn</th>

    </tr>

    <tr th:each="baker :${bakersList}" >
        <td th:text="${baker.personId}"></td>
        <td th:text="${baker.employeeId}"></td>
        <td th:text="${baker.bakerId}"></td>
        <td th:text="${baker.firstName}"></td>
        <td th:text="${baker.lastName}" ></td>



    </tr>

    </thead>

</table>

<table>

    <div id="headline-employee"><h1>
        Medarbejder oplysninger
    </h1>
    </div>

    <thead>

    <tr>
        <th>Person id</th>
        <th>Fornavn</th>
        <th>Alder</th>
        <th>Mand</th>
        <th>Fuldtidsansat</th>
        <th>E-mail</th>
        <th>Mobilnummer</th>
    </tr>

    <tr th:each="baker :${bakersList}" >

        <td th:text="${baker.personId}"></td>
        <td th:text="${baker.firstName}"></td>
        <td th:text="${baker.age}"></td>
        <td th:text="${baker.gender} ? 'Mand' : 'Kvinde'" />
        <td th:text="${baker.fullTimeEmployee} ? 'Ja' : 'nej'" />
        <td th:text="${baker.email}"></td>
        <td th:text="${baker.phoneNumber}"></td>


    </tr>

    </thead>

</table>


<table>

    <div id="headline-adress"><h1>
        Addresse oplysninger
    </h1>
    </div>

    <thead>

    <tr>

        <th>Person id</th>
        <th>Fornavn</th>
        <th>Vejnavn</th>
        <th>Vejnummer</th>
        <th>Postnummer</th>
        <th>By</th>

    </tr>

    <tr th:each="baker :${bakersList}" >
        <td th:text="${baker.personId}"></td>
        <td th:text="${baker.firstName}"></td>
        <td th:text="${baker.address.streetName}"></td>
        <td th:text="${baker.address.streetNumber}"></td>
        <td th:text="${baker.address.zipCode}"></td>
        <td th:text="${baker.address.city}"></td>

    </tr>


    </thead>

</table>

</body>
</html>

