<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Baker</title>
</head>
<body>


<form action="/new-baker" method="post">

    <label>Fornavn</label>
    <input type="text" name="firstName">
    <label>Efternavn</label>
    <input type="text" name="lastName">
    <label>Vejnavn</label>
    <input type="text" name="streetName">
    <label>Vejnummer</label>
    <input type="text" name="streetNumber">
    <label>Postnummer</label>
    <input type="text" name="zipCode">
    <label>Mobilnummer</label>
    <input type="text" name="phoneNumber">
    <label>E-mail</label>
    <input type="text" name="email">
    <label>Alder</label>
    <input type="text" name="age">
    <label>Køn</label>
    <input type="text" name="gender">
    <label>Fuldtidsansat</label>
    <input type="text" name="fullTimeEmployee">
    <label>Års erfaring</label>
    <input type="text" name="yearsOfExperience">


    <input type="submit" value="go">
</form>

</body>
</html>
