<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Baker</title>
    <link rel="stylesheet" href="layout.css"/>
    <link rel="stylesheet" href="add-edit-employee.css"/>
</head>
<body>

<header>
    <nav>
        <div class="nav-bar">

            <div class="logo">
                <a href="/">Bakery By Hermann</a>
            </div>

            <ul>
                <li><a href="/">Startside</a></li>
                <li><a href="#">Bestilling</a></li>
                <li><a href="/show-customer">Kunde</a></li>
                <div class="dropdown">
                    <li class="medarbejder-active"><a href="/">Medarbejder</a></li>
                    <div class="dropdown-content">
                        <a href="/baker">Bager</a>
                        <a href="/cashier">Butiksansat</a>
                        <a href="/driver">Chauffør</a>
                    </div>
                </div>
                <li><a href="#">Hjælp</a></li>

            </ul>

        </div>

    </nav>
</header>

<div class="header">
    <h1>Indtast venligst den butiksansattes oplysninger</h1>
</div>

<div class="form-container">

    <form action="/new-baker" method="post">


            <label>Fornavn</label>
            <input type="text" name="firstName">
            <label>Efternavn</label>
            <input type="text" name="lastName">
            <label>Vejnavn</label>
            <input type="text" name="streetName">
            <label>Vejnummer</label>
            <input type="text" name="streetNumber">
            <label>Postnummer</label>
            <input type="text" name="zipCode">
            <label>Mobilnummer</label>
            <input type="text" name="phoneNumber">
            <label>E-mail</label>
            <input type="text" name="email">
            <label>Alder</label>
            <input type="text" name="age">
            <label>Årserfaring</label>
            <input type="text" name="yearsOfExperience">

            <div class="checkbox-container">
            <label id="gender">Mand</label>
            <input type="checkbox" name="gender" th:checked="${baker?.gender}">
            <label>Kvinde</label>
            <input type="checkbox" name="woman" th:checked="${woman}">
            <label>Fuldtidsansat</label>
                <input type="checkbox" name="fullTimeEmployee" th:checked="${cashier?.fullTimeEmployee}">

            </div>

            <input type="submit" value="Opret">




    </form>
</div>


</body>
</html>
