<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Baker</title>
    <link href="/add-edit-employee.css" rel="stylesheet">
    <link rel="stylesheet" href="/layout.css"/>

</head>
<body>

<header>
    <nav>
        <div class="nav-bar">

            <div class="logo">
                <a href="/">Bakery By Hermann</a>
            </div>

            <ul>
                <li><a href="/">Startside</a></li>
                <li><a href="#">Bestilling</a></li>
                <li><a href="/show-customer">Kunde</a></li>
                <div class="dropdown">
                    <li class="medarbejder-active"><a href="/">Medarbejder</a></li>
                    <div class="dropdown-content">
                        <a href="/baker">Bager</a>
                        <a href="/cashier">Butiksansat</a>
                        <a href="/driver">Chauffør</a>
                    </div>
                </div>
                <li><a href="#">Hjælp</a></li>

            </ul>

        </div>

    </nav>
</header>


<div class="form-container">

<form action = "/update-baker" method ="post">

    <label>Person id</label>
    <input type="text" name="personId" th:value="${baker.personId}" readonly>
    <label>Fornavn</label>
    <input type="text" name="firstName" th:value="${baker.firstName}">
    <label>Efternavn</label>
    <input type="text" name="lastName" th:value="${baker.lastName}">
    <label>Vejnavn</label>
    <input type="text" name="address.streetName" th:value="${baker.address.streetName}">
    <label>Vejnummer</label>
    <input type="text" name="address.streetNumber" th:value="${baker.address.streetNumber}">
    <label>Postnummer</label>
    <input type="text" name="address.zipCode" th:value="${baker.address.zipCode}">
    <label>By</label>
    <input type="text" name="address.city" th:value="${baker.address.city}" readonly>
    <label>Mobilnummer</label>
    <input type="text" name="phoneNumber" th:value="${baker.phoneNumber}">
    <label>E-mail</label>
    <input type="text" name="email" th:value="${baker.email}">
    <label>Alder</label>
    <input type="text" name="age" th:value="${baker.age}">

    <label>Års erfaring</label>
    <input type="text" name="yearsOfExperience" th:value="${baker.yearsOfExperience}">
    <div class="checkbox-container">
        <label class="gender">Mand</label>
        <input type="checkbox" name="gender" th:checked="${baker.gender}">
        <label>Kvinde</label>
        <input type="checkbox" name="gender" th:checked="${woman}">

        <label>Fuldtidsansat</label>
        <input type="checkbox" name="fullTimeEmployee" th:checked="${baker?.fullTimeEmployee}">

    </div>



    <input type="submit" value="Bekræft">

</form>

    <a th:href="@{'/view-baker/'+${baker.bakerId}}">
        <button class="view-employee">Tilbageee</button> </a>
</div>

</body>
</html>