<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bagere</title>
    <link rel="stylesheet" href="layout.css"/>
    <link rel="stylesheet" href="view-employee.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

</head>
<body>

<header>
    <nav>
        <div class="nav-bar">

            <div class="logo">
                <a href="/">Bakery By Hermann</a>
            </div>

            <ul>
                <li><a href="/">Afdelinger</a></li>
                <div class="dropdown">
                    <li class="medarbejder-active"><a href="/">Ansatte</a></li>
                    <div class="dropdown-content">
                        <a href="/baker">Bager</a>
                        <a href="/cashier">Butiksansat</a>
                        <a href="/driver">Chauffør</a>
                    </div>
                </div>
                <li><a href="/show-customer">Kunder</a></li>
                <li><a href="/show-product">Varer</a></li>
                <li><a href="/show-orders">Bestillinger</a></li>
                <li><a href=/logout>Log ud</a></li>

            </ul>

        </div>

    </nav>
</header>
<div class="employee-container">
    <p>Registrer ny bager i systemet og se bager info</p>
    <a href="/new-baker"><button class="new-employee">Opret ny bager</button></a>
</div>

<table>



    <h1>Bager oplysninger</h1>
    <thead>

    <tr>

        <th>Person id</th>
        <th>Fornavn</th>
        <th>Efternavn</th>
        <th>Års erfaring</th>
        <th>Vis arbejder info</th>

    </tr>

    <tr th:each="baker :${bakersList}" >
        <td th:text="${baker.personId}"></td>
        <td th:text="${baker.firstName}"></td>
        <td th:text="${baker.lastName}"></td>
        <td th:text="${baker.yearsOfExperience}"></td>

<!--        <td><a th:href="@{'/update-baker/'+${baker.personId}}">Rediger</a></td>-->
<!--        <td><a th:href="@{'/baker/'+${baker.bakerId}}" onclick="return confirm('Du er i gang med at slette. Er du sikker?')">Slet</a></td>-->
        <td>
            <a th:href="@{'/view-baker/'+${baker.bakerId}}">
                <button class="view-employee">Vis</button> </a>
        </td>
    </tr>

    </thead>
</table>
</body>
</html>

