<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bestilling</title>
    <link rel="stylesheet" href="../one-order.css"/>
    <link rel="stylesheet" href="/layout.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">


</head>
<body>

<header>
    <nav>
        <div class="nav-bar">

            <div class="logo">
                <a href="/">Bakery By Hermann</a>
            </div>

            <ul>
                <li><a href="/">Afdelinger</a></li>
                <div class="dropdown">
                    <li><a href="/">Ansatte</a></li>
                    <div class="dropdown-content">
                        <a href="/baker">Bager</a>
                        <a href="/cashier">Butiksansat</a>
                        <a href="/driver">Chauffør</a>
                    </div>
                </div>
                <li><a href="/show-customer">Kunder</a></li>
                <li><a href="/show-product">Varer</a></li>
                <li class="bestilling-active"><a href="/show-orders">Bestillinger</a></li>
                <li><a href=/logout>Log ud</a></li>

            </ul>

        </div>

    </nav>
</header>

<!--<div class="header-info-container">
    <h1>Bestillingsinfo</h1>
</div>-->

<div class="orderSheet">

    <div class="top-header-order-info">
        <table class="order-main-info">
            <tr>
                <td>Bestillings nummer: </td>
                <td th:text="${oneOrder.orderId}"></td>
            </tr>
            <tr>
                <td>Bestillings dato: </td>
                <td th:text="${oneOrder.orderDate}"></td>
            </tr>
            <tr>
                <td>Bestillings afdeling: </td>
                <td th:text="${oneOrder.orderLocation.shortName}"></td>
            </tr>
            <tr>
                <td>Ekspederet af: </td>
                <td th:text="${oneOrder.cashier.firstName}"></td>
            </tr>
        </table>
    </div>

    <div class="order-customer-info">
        <table>
            <tr>
                <td>Kundenavn: </td>
                <td th:text="${oneOrder.customer.firstName+' '+oneOrder.customer.lastName}"></td>
            </tr>
            <tr>
                <td>Kunde tlf: </td>
                <td th:text="${oneOrder.customer.phoneNumber}"></td>
            </tr>
        </table>
    </div>

    <div class="pick-up-info">
        <table>
            <tr>
                <td>Afhentning lokation: </td>
                <td th:text="${oneOrder.pickupLocation.shortName}"></td>
            </tr>
            <tr>
                <td>Afhentsning dato og tid: </td>
                <td th:text="${oneOrder.pickupDateAndTime}"></td>
            </tr>
            <tr>
                <td>Betalt/ikke-betalt:</td>
                <td th:text="${oneOrder.payed} ? ' Betalt' : ' Ikke-betalt' "></td>
            </tr>
            <tr>
                <td>Speciel bestilling:</td>
                <td th:text="${oneOrder.specialOrder} ? ' Ja' : ' Nej'  "></td>
            </tr>
        </table>
    </div>

    <div class="products-schema">
        <table class="products-schema-table">
            <tr>
                <th>Vare-nr.</th>
                <th>Vare</th>
                <th>Vare pris</th>
                <th>Antal</th>
                <th>Sub-pris</th>
            </tr>
            <tr th:each="productIn : ${oneOrder.productList}">
                <td th:text="${productIn.product.productId}"></td>
                <td th:text="${productIn.product.productName}"></td>
                <td th:text="${productIn.product.price}"></td>
                <td th:text="${productIn.quantity}"></td>
                <td th:text="${productIn.quantity*productIn.product.price + ' kr'}"></td>
            </tr>

        </table>
    </div>

    <div class="total-price">
        <p>Totale pris: <span th:text="${oneOrder.totalPrice + ' kr'}"></span></p>
    </div>



    <div class="order-manage">
        <div class="mange-button">
        <a th:href="@{'/one-order/'+${oneOrder.orderId}}">
            <button>Afslut bestilling</button>
        </a>
        </div>

        <div class="mange-button">
        <a th:href="@{'/order/'+${oneOrder.orderId}}">
            <button>Afbestil</button>
        </a>
        </div>

        <div class="mange-button" onclick="window.print()">
        <button>Print</button>
        </div>

        <div class="mange-button">
        <a href="/show-orders">
            <button>Tilbage</button>
        </a>
        </div>

    </div>

</div>

</body>
</html>

<!--
        <div >
            <p>Totale pris: <span th:text="${oneOrder.totalPrice + ' kr'}"></span></p>
        </div>
<p>Bestillings nummer: <span th:text="${oneOrder.orderId}"></span></p>
<p>Bestillings dato: <span th:text="${oneOrder.orderDate}"></span></p>
<p>Bestilt i afdeling: <span th:text="${oneOrder.orderLocation.shortName}"></span></p>
<p>Ekspederet af: <span th:text="${oneOrder.cashier.firstName}"></span></p>-->


<!--<div class="order-container">

<div class="order-customer-info">
    <p>Kundenavn:
    <span th:text="${oneOrder.customer.firstName}"></span>
    <span th:text="${oneOrder.customer.lastName}"></span></p>
    <p>Kunde tlf:
    <span th:text="${oneOrder.customer.phoneNumber}"></span></p>
</div>

<div class="pick-up-info">
    <p>Afhentning lokation: <span th:text="${oneOrder.pickupLocation.shortName}"></span></p>
    <p>Afhentsning dato og tid: <span th:text="${oneOrder.pickupDateAndTime}"></span></p>
</div>
<div class="other-order-info">
    <p>Betalt/ikke-betalt:<span th:text="${oneOrder.payed} ? ' Betalt' : ' Ikke-betalt' "></span></p>
    <p>Speciel bestilling:<span th:text="${oneOrder.specialOrder} ? ' Ja' : ' Nej'  "></span></p>
</div>-->
