<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show order</title>
</head>
<body>
<div style="border: 1px solid black">
    <div>
        <span th:text="${'Bestillings nummer: '+oneOrder.orderId}"></span>
        <br>
        <span th:text="${'Bestillings dato: '+oneOrder.orderDate}"></span>
        <br>
        <span th:text="${'Bestilt i afdeling: '+oneOrder.orderLocation.shortName}"></span>
        <br>
        <span th:text="${'Ekspideret af: '+oneOrder.cashier.firstName}"></span>
    </div>
    <div>
        <span th:text="${'Kundenavn: '+oneOrder.customer.firstName}"></span>
        <span th:text="${' '+oneOrder.customer.lastName}"></span>
        <br>
        <label th:text="${'Kunde tlf: '+oneOrder.customer.phoneNumber}"></label>
    </div>
    <div>
        <label>Afhentning</label>
        <br>
        <label th:text="${'Lokation: '+oneOrder.pickupLocation.shortName}"></label>
        <br>
        <label th:text="${'Dato og tid: '+oneOrder.pickupDateAndTime}"></label>
    </div>
    <div>
        <label th:text="${'Betalt: '+oneOrder.payed}"></label>
        <br>
        <label th:text="${'Special bestilling: '+oneOrder.specialOrder}"></label>
    </div>
    <div>
        <table>
            <tr>
                <th>Vare-nr.</th>
                <th>Vare</th>
                <th>Vare pris</th>
                <th>Antal</th>
                <th>Sub-pris</th>
            </tr>
            <tr th:each="productIn : ${oneOrder.productList}">
                <td th:text="${productIn.product.productId}"></td>
                <td th:text="${productIn.product.productName}"></td>
                <td th:text="${productIn.product.price}"></td>
                <td th:text="${productIn.quantity}"></td>
                <td th:text="${productIn.quantity*productIn.product.price}"></td>
            </tr>


        </table>
        <div>
            <span th:text="${'Total price '+oneOrder.totalPrice}"></span>

        </div>
    </div>
</div>

</body>
</html>