<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bakery By Hermann</title>
    <link rel="stylesheet" href="../archived-list.css"/>
    <link rel="stylesheet" href="/layout.css"/>


</head>
<body>

<header>
    <nav>
        <div class="nav-bar">

            <div class="logo">
                <a href="/">Bakery By Hermann</a>
            </div>

            <ul>
                <li><a href="/departments">Afdelinger</a></li>
                <div class="dropdown">
                    <li><a href="/">Ansatte</a></li>
                    <div class="dropdown-content">
                        <a href="/baker">Bager</a>
                        <a href="/cashier">Butiksansat</a>
                        <a href="/driver">Chauffør</a>
                    </div>
                </div>
                <li><a href="/show-customer">Kunder</a></li>
                <li><a href="/show-product">Varer</a></li>
                <div class="dropdown">
                    <li class="bestilling-active"><a href="/">Bestillinger</a></li>
                    <div class="dropdown-content">
                        <a href="/show-orders">Aktive bestillinger</a>
                        <a href="/show-archived">Arkiverede bestillinger</a>
                    </div>
                </div>                <li><a href=/logout>Log ud</a></li>

            </ul>

        </div>

    </nav>
</header>

<div class="table-container">
<table class="archived-orders">
    <thead>
    <tr>
        <th>Id</th>
        <th>Kunde navn</th>
        <th>Efternavn</th>
        <th>Tlf. nr.</th>
        <th>Bestilt</th>
        <th>Afhentet tid</th>
        <th>Afhentet sted</th>
        <th>Total pris</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="archived :${archivedList}">
        <td th:text="${archived.orderId}"></td>
        <td th:text="${archived.customer.firstName}"></td>
        <td th:text="${archived.customer.lastName}"></td>
        <td th:text="${archived.customer.phoneNumber}"></td>
        <td th:text="${archived.orderDate}"></td>
        <td th:text="${archived.pickupDateAndTime}"></td>
        <td th:text="${archived.pickupLocation.shortName}"></td>
        <td th:text="${archived.totalPrice}"></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>