<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="float: left">
    <table>
        <tr>
            <th>Virum</th>
        </tr>
        <tr th:each="order :${ordersVirum}">
            <td>
                <span th:text="${order.orderId+' '+order.pickupDateAndTime}"></span>
                <br>
                <span th:text="${order.productList}"></span>
            </td>
        </tr>
    </table>
</div>

<div >
    <table>
        <tr>
            <th>Nærum</th>
        </tr>
        <tr th:each="order :${ordersNaerum}">
            <td>
                <span th:text="${order.orderId+' '+order.pickupDateAndTime}"></span>
                <br>
                <span th:text="${order.productList}"></span>
            </td>
        </tr>
    </table>
</div>

<!--

<table>
    <tr>
        <th>id</th>
        <th>afhentningstid</th>
        <th>afhent.lokation</th>
    </tr>
    <tr th:each="order :${ordersVirum}">
        <td th:text="${order.orderId}"></td>
        <td th:text="${order.pickupDateAndTime}"></td>
        <td th:text="${order.pickupLocation.shortName}"></td>
    </tr>
</table>

<table>
    <tr>
        <th>id</th>
        <th>afhentningstid</th>
        <th>afhent.lokation</th>
    </tr>
    <tr th:each="order :${ordersNaerum}">
        <td th:text="${order.orderId}"></td>
        <td th:text="${order.pickupDateAndTime}"></td>
        <td th:text="${order.pickupLocation.shortName}"></td>
    </tr>
</table>
-->

</body>
</html>