<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bakery by Herman</title>
    <link rel="stylesheet" href="../view-orders.css"/>
    <link rel="stylesheet" href="/layout.css"/>
</head>
<body>
<header>
    <nav>
        <div class="nav-bar">

            <div class="logo">
                <a href="/">Bakery By Hermann</a>
            </div>

            <ul>
                <li><a href="/">Startside</a></li>
                <li><a href="#">Bestilling</a></li>
                <li><a href="/show-customer">Kunde</a></li>
                <div class="dropdown">
                    <li class="medarbejder-active"><a href="/">Medarbejder</a></li>
                    <div class="dropdown-content">
                        <a href="/baker">Bager</a>
                        <a href="/cashier">Butiksansat</a>
                        <a href="/driver">Chauffør</a>
                    </div>
                </div>
                <li><a href=/logout>Log ud</a></li>

            </ul>

        </div>

    </nav>
</header>

<div class="locationFrame" style="float: left">
    <table class="ordersTable">
        <tr>
            <th class="locationName">Virum</th>
        </tr>
        <tr th:each="order :${ordersVirum}" >
            <td >
                <table>
                    <tr>
                        <th th:text="${order.pickupDateAndTime}"></th>
                    </tr>
                    <tr th:each="inList :${order.productList}" >
                        <td th:text="${inList}"></td>
                    </tr>
                    <tr>
                        <td>
                            <button>produced</button>
                            <button>delivered</button>
                            <button>picked-up</button>
                            <button>more details</button>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>

<div class="locationFrame" style="float: left">
    <table class="ordersTable">
        <tr>
            <th class="locationName">Nærum</th>
        </tr>
        <tr th:each="order :${ordersNaerum}">
            <td class="innerCell" >
                <table>
                    <tr>
                        <th class="orderInfo" th:text="${order.pickupDateAndTime}"></th>
                    </tr>
                    <tr th:each="inList :${order.productList}" >
                        <td class="orderContent" th:text="${inList}"></td>
                    </tr>
                    <tr>
                    <td>
                        <button>produced</button>
                        <button>delivered</button>
                        <button>picked-up</button>
                        <button>more details</button>
                    </td>
                </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<!--

<table>
    <tr>
        <th>id</th>
        <th>afhentningstid</th>
        <th>afhent.lokation</th>
    </tr>
    <tr th:each="order :${ordersVirum}">
        <td th:text="${order.orderId}"></td>
        <td th:text="${order.pickupDateAndTime}"></td>
        <td th:text="${order.pickupLocation.shortName}"></td>
    </tr>
</table>

<table>
    <tr>
        <th>id</th>
        <th>afhentningstid</th>
        <th>afhent.lokation</th>
    </tr>
    <tr th:each="order :${ordersNaerum}">
        <td th:text="${order.orderId}"></td>
        <td th:text="${order.pickupDateAndTime}"></td>
        <td th:text="${order.pickupLocation.shortName}"></td>
    </tr>
</table>
-->

</body>
</html>