<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bestillinger</title>
    <link rel="stylesheet" href="/view-orders.css"/>
    <link rel="stylesheet" href="/layout.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

</head>
<body>
<header>
    <nav>
        <div class="nav-bar">

            <div class="logo">
                <a href="/">Bakery By Hermann</a>
            </div>

            <ul>
                <li><a href="/departments">Afdelinger</a></li>
                <div class="dropdown">
                    <li><a href="/">Ansatte</a></li>
                    <div class="dropdown-content">
                        <a href="/baker">Bager</a>
                        <a href="/cashier">Butiksansat</a>
                        <a href="/driver">Chauffør</a>
                    </div>
                </div>
                <li><a href="/show-customer">Kunder</a></li>
                <li><a href="/show-product">Varer</a></li>
                <div class="dropdown">
                    <li class="bestilling-active"><a href="/">Bestillinger</a></li>
                    <div class="dropdown-content">
                        <a href="/show-orders">Aktive bestillinger</a>
                        <a href="/show-archived">Arkiverede bestillinger</a>
                    </div>
                </div>                <li><a href=/logout>Log ud</a></li>

            </ul>

        </div>

    </nav>
</header>

<div class="locationFrame" style="float: left">
    <table class="ordersTable">
        <tr>
            <th class="locationName">Virum</th>
        </tr>
        <tr th:each="order :${ordersVirum}" >
            <td class="innerCell" >
                <a th:href="@{'/show-orders/'+${order.orderId}}">
                    <table class="orderFontStyle">
                        <tr>
                            <th class="orderInfo" th:text="${order.orderId+' - '+order.pickupDateAndTime}"></th>
                        </tr>
                        <tr th:each="inList :${order.productList}" >
                            <td class="orderContent" th:text="${inList}"></td>
                        </tr>
                    </table>
                </a>
            </td>
        </tr>
    </table>
</div>

<div class="locationFrame" style="float: left">
    <table class="ordersTable">
        <tr>
            <th class="locationName">Nærum</th>
        </tr>
        <tr th:each="order :${ordersNaerum}">
            <td class="innerCell" >
                <a th:href="@{'/show-orders/'+${order.orderId}}">
                <table class="orderFontStyle">
                    <tr>
                        <th class="orderInfo" th:text="${order.orderId+' - '+order.pickupDateAndTime}"></th>
                    </tr>
                    <tr th:each="inList :${order.productList}" >
                        <td class="orderContent" th:text="${inList}"></td>
                    </tr>
                </table>
                </a>
            </td>
        </tr>
    </table>
</div>

<div class="locationFrame" style="float: left">
    <table class="ordersTable">
        <tr>
            <th class="locationName">Jægersborg</th>
        </tr>
        <tr th:each="order :${ordersjaegersborg}">
            <td class="innerCell" >
                <a th:href="@{'/show-orders/'+${order.orderId}}">
                    <table class="orderFontStyle">
                        <tr>
                            <th class="orderInfo" th:text="${order.orderId+' - '+order.pickupDateAndTime}"></th>
                        </tr>
                        <tr th:each="inList :${order.productList}" >
                            <td class="orderContent" th:text="${inList}"></td>
                        </tr>
                    </table>
                </a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>