<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>


<form action="/cashier/new" method="post">

    <label>Fornavn</label>
    <input type="text" name="firstName">

    <label>Efternavn</label>
    <input type="text" name="lastName">

    <label>Vejnavn</label>
    <input type="text" name="streetName">

    <label>Vejnummer</label>
    <input type="text" name="streetNumber">

    <label>Postnummer</label>
    <input type="text" name="zipCode">

    <label>Mobilnummer</label>
    <input type="text" name="phoneNumber">

    <label>E-mail</label>
    <input type="text" name="email">

    <label>Alder</label>
    <input type="text" name="age">

    <label>Mand</label>
    <input type="checkbox" name="gender" th:checked="${cashier?.gender}">

    <label>Kvinde</label>
    <input type="checkbox" name="woman" th:checked="${woman}">


    <label>FuldtidsAnsat?</label>
    <input type="text" name="fullTimeEmployee">

    <label>KaffeDiplom?</label>
    <input type="text" name="coffeeDiplom">







    <input type="submit" value="go">
</form>



</body>
</html>