<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/view-employee.css"/>
    <link rel="stylesheet" href="/layout.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

</head>
<body>


<header>
    <nav>
        <div class="nav-bar">

            <div class="logo">
                <a href="/">Bakery By Hermann</a>
            </div>

            <ul>
                <li><a href="/">Startside</a></li>
                <li><a href="#">Bestilling</a></li>
                <li><a href="/show-customer">Kunde</a></li>
                <div class="dropdown">
                    <li class="medarbejder-active"><a href="/">Medarbejder</a></li>
                    <div class="dropdown-content">
                        <a href="/baker">Bager</a>
                        <a href="/cashier">Butiksansat</a>
                        <a href="/driver">Chauffør</a>
                    </div>
                </div>
                <li><a href="#">Hjælp</a></li>

            </ul>

        </div>

    </nav>
</header>


<table>

<h1>Butiksansat oplysninger</h1>
    <thead>

    <tr>
        <th>Personid</th>
        <th>Fornavn</th>
        <th>Kaffediplom</th>
        <th>Rediger</th>
        <th>Slet</th>

    </tr>

    <tbody>
<tr>
        <td th:text="${oneCashier.personId}"></td>
        <td th:text="${oneCashier.firstName}"></td>
        <td th:text="${oneCashier.coffeeDiplom} ? 'Ja' : 'Nej'"></td>

    <td>
        <a th:href="@{'/cashier-update/'+${oneCashier.cashierId}}">
            <button class="update-employee">Rediger</button> </a>
    </td>
    <td>
        <a th:href="@{'/cashier/'+${oneCashier.cashierId}}"
           onclick="return confirm('Du er i gang med at slette. Er du sikker?')">
            <button class="delete-employee" >Slet</button> </a>
    </td>

</tr>

</tbody>
</table>
</table>





<table>
    <h1>Person oplysninger</h1>

    <thead>

    <tr>
        <th>Person Id</th>
        <th>Medarbejder id</th>
        <th>Butiksansat Id</th>
        <th>Fornavn</th>
        <th>Efternavn</th>


    </tr>

    <tbody>
    <tr>
        <td th:text="${oneCashier.personId}" ></td>
        <td th:text="${oneCashier.employeeId}" />
        <td th:text="${oneCashier?.cashierId}"></td>
        <td th:text="${oneCashier.firstName}"></td>
        <td th:text="${oneCashier.lastName}" ></td>


    </tr>

    </tbody>

    </thead>

</table>


<table>

    <h1>Medarbejder oplysninger</h1>

    <thead>

    <tr>
        <th>Person Id</th>
        <th>Fornavn</th>
        <th>Alder</th>
        <th>Køn</th>
        <th>Fuldtidsansat</th>
        <th>E-mail</th>
        <th>Mobilnummer</th>



    </tr>

    <tbody>
    <tr>
        <td th:text="${oneCashier.personId}" ></td>
        <td th:text="${oneCashier.firstName}"></td>
        <td th:text="${oneCashier.age}"></td>
        <td th:text="${oneCashier.gender} ? 'Mand' : 'Kvinde'"/></td>
        <td th:text="${cashier?.fullTimeEmployee} ? 'Ja' : 'Nej'"/></td>
        <td th:text="${oneCashier.email}" ></td>
        <td th:text="${oneCashier.phoneNumber}" ></td>




    </tr>

    </tbody>

    </thead>

</table>


<table>

    <h1>Addresse oplysninger</h1>

    <thead>
        <tr>
            <th>Person id</th>
            <th>Fornavn</th>
            <th>Vejnavn</th>
            <th>Vejnummer</th>
            <th>Postnummer</th>
            <th>By</th>


        </tr>
    </thead>

    <tbody>
    <td th:text="${oneCashier.personId}" ></td>
    <td th:text="${oneCashier.firstName}"></td>
    <td th:text="${oneCashier.address.streetName}"></td>
    <td th:text="${oneCashier.address.streetNumber}"></td>
    <td th:text="${oneCashier.address.zipCode}"></td>
    <td th:text="${oneCashier.address.city}"></td>
    </tbody>

</table>





</body>
</html>