body{
    background-size: 100% 1650%;
    background-repeat: no-repeat;
    background-image: url("/images/bakerybyhermann.jpg");
}

.img-container::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}


.center-container{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    text-align: center;
}


.center-container .header{
    color: #fff;
    font-family: 'Open Sans',sans serif;
    font-size: 52px;
    font-weight: 600;
}

button {
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    font-family: 'Open Sans',sans Serif;
    border:white 1px solid;
    transition: all 0.5s;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    margin: 3%;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}


button:after {
    content: '\2192';
    position: absolute;
    opacity: 0;
    top: 14px;
    right: 5%;
}

button:hover{
    padding-right: 40px;
    padding-left:8px;
}

button:hover:after {
    opacity: 1;
    right: 3%;
    top: 25%;
}
