body{
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("/images/bakerybyhermann.jpg");
}

.Headline-product{
    margin-left: 40%;

}

table {
    border-collapse: collapse;
    width: 60%;
    margin:10% 0 0 20%
}

th {
    background-color: black;
    color: white;
}


table tr:hover {
    background-color: #ddd;
}


td, th {
    border: 1px solid black;
    text-align: center;
    padding: 1%;
    font-family: 'Open Sans',sans Serif;

}

td{
    background-color: lightgray;
}

th{
    width: 20%;
}




.create-product-button{
    background-color: #198754;
    color: white;
    border-radius: 8px;
    width: 8%;
    right: 23%;
    font-size: 1em;
    height: 6%;
    border: none;
    position: absolute;
    top: 25%;
    cursor: pointer;
}

.create-product-button:hover {
    transform: translateY(-2px);
    background-color: #107044;
    cursor: pointer;
    transition: all 0.3s;
}
.button-update{
    font-family: sans-serif;
    background: #3283ff;
    font-size: 1em;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.button-delete{
    font-family: sans-serif;
    background: red;
    font-size: 1em;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.form-container{

}






.new-product-label{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new-product-label #register{
    width: 400px;
}

.new-product-label input{
    padding: 3px;
    box-shadow: 3px 3px 5px grey;
    font-size: 14px;
    font-weight: 600;
    width: 200px;
}

.new-product-label label{ /* ordner så de står i række*/
    color: white;
    font-weight: bold;
    display: block;
}

.new-product-label label:after{ content: ": "} /* ordner så de står i række*/

.header-product{
    color: black;
    align-items: center;
}
h1{
    display: flex;
    justify-content: center;
}

input[type=submit] {
    background: #3283ff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.3em;
    cursor: pointer;
}

input[type=submit]:hover {
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
    background-color: #0069d9;
    border-color: #0062cc;
    transition: 0.2s all;
}

