body{
    background-image: url("/images/bakerybyhermann.jpg");

}


.locationName{
    background-color: orange;
}

.locationFrame{
    width: 33%;
}

.ordersTable{
    background-color: snow;
    border: 0px solid black;
    width: 90%;
    margin-inline-start: auto;
}

#innerCell tr:nth-of-type(even){
    background-color: rgba(175,175,76,0.44);
}

.innerCell{
    padding-top: 5%;
    padding-left: 5%;
    border-bottom: groove cornflowerblue;
    padding-bottom: 2%;
}
.innerCell:hover {
    background-color: rgba(175, 175, 76, 0.2);

}

.orderInfo{
    text-align: left;
    padding-bottom: 3%;
}

.orderContent {
    padding-bottom: 4%;
}

.orderBtn {
    height: 15%;
    width: 15%;
    margin-inline-start: auto;
}

.buttonOne {
    background-color: #6dc96d;
    padding: 17px 0px;
    border-radius: 10px;
    border: 1px groove #7ab17a;
    transition-duration: 0.4s;
}
.buttonOne:hover {
    background-color: #457f45;

}

a {
    color: #010613;
    text-decoration: none;
}

a:hover {
    color: #011115;
    text-decoration:none;
    cursor:pointer;
}
