.locationName{
    background-color: orange;
}

.locationFrame{
    width: 33%;
}

.ordersTable{
    border: 0px solid black;
    width: 90%;
    margin-inline-start: auto}

#innerCell tr:nth-of-type(even){
    background-color: rgba(175,175,76,0.44);
}

.innerCell{
    padding-top: 5%;
    padding-left: 5%;
    border-bottom: groove cornflowerblue;
    padding-bottom: 2%;
}

.orderInfo{
    text-align: left;
    padding-bottom: 3%;
}

.orderContent {
    padding-bottom: 4%;
}
