<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Driver index</title>
</head>
<body>

<table>

    <thead>

    <tr>
        <th>Person id</th>
        <th>Driver id</th>
        <th>Medarbejder Id</th>
        <th>Fornavn</th>
        <th>Efternavn</th>
        <th>Vejnavn</th>
        <th>Vejnummer</th>
        <th>Postnummer</th>
        <th>By</th>
        <th>Mobilnummer</th>
        <th>E-mail</th>
        <th>Alder</th>
        <th>Køn</th>
        <th>Fuldtidsansat</th>
        <th>Kørekort nummer</th>
        <th>Registrerings nummer</th>

    </tr>

    <tr th:each="driver :${driversList}" >
        <td th:text="${driver.personId}"></td>
        <td th:text="${driver.driverId}"></td>
        <td th:text="${driver.employeeId}"></td>
        <td th:text="${driver.firstName}"></td>
        <td th:text="${driver.lastName}" ></td>
        <td th:text="${driver.address.streetName}"></td>
        <td th:text="${driver.address.streetNumber}"></td>
        <td th:text="${driver.address.zipCode}"></td>
        <td th:text="${driver.address.city}"></td>
        <td th:text="${driver.phoneNumber}"></td>
        <td th:text="${driver.email}"></td>
        <td th:text="${driver.age}"></td>
        <td th:text="${driver.gender}"></td>
        <td th:text="${driver.fullTimeEmployee}"></td>
        <td th:text="${driver.driverLicenseNumber}"></td>
        <td th:text="${driver.registrationNumber}"></td>



    </tr>

    </thead>

</table>

</body>
</html>

<!--
*/


 -->