<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Driver</title>
</head>
<body>

<form action = "/update-customer" method ="post">

    <label>id</label>
    <input type="text" name="personId" th:value="${driver.personId}" readonly>
    <label>Fornavn</label>
    <input type="text" name="firstName" th:value="${driver.firstName}" readonly>
    <label>Efternavn</label>
    <input type="text" name="lastName" th:value="${driver.lastName}">
    <label>Addressid</label>
    <input type="text" name="address.addressId" th:value="${driver.address.addressId}"readonly>
    <label>Vejnavn</label>
    <input type="text" name="address.streetName" th:value="${driver.address.streetName}">
    <label>Vejnummer</label>
    <input type="text" name="address.streetNumber" th:value="${driver.address.streetNumber}">
    <label>Postnummer</label>
    <input type="text" name="address.zipCode" th:value="${driver.address.zipCode}">
    <label>By</label>
    <input type="text" name="address.city" th:value="${driver.address.city}" readonly>
    <label>Mobilnummer</label>
    <input type="text" name="phoneNumber" th:value="${driver.phoneNumber}">
    <label>E-mail</label>
    <input type="text" name="email" th:value="${driver.email}">
    <label>Alder</label>
    <input type="text" name="age" th:value="${driver.age}">
    <label>Køn</label>
    <input type="text" name="gender" th:value="${driver.gender}">
    <label>Firmanavn</label>
    <input type="text" name="fullTimeEmployee" th:value="${driver.fullTimeEmployee}">
    <label>Kørekort nummer</label>
    <input type="text" name="driverLicenseNumber" th:value="${driver.driverLicenseNumber}">
    <label>Registreringsnummer</label>
    <input type="text" name="registrationNumber" th:value="${driver.registrationNumber}">


    <input type="submit" value="go">

</form>

</body>
</html>