<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Driver</title>
    <link href="/add-edit-employee.css" rel="stylesheet">
    <link rel="stylesheet" href="/layout.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <nav>
        <div class="nav-bar">

            <div class="logo">
                <a href="/">Bakery By Hermann</a>
            </div>

            <ul>
                <li><a href="/">Afdelinger</a></li>
                <div class="dropdown">
                    <li class="medarbejder-active"><a href="/">Ansatte</a></li>
                    <div class="dropdown-content">
                        <a href="/baker">Bager</a>
                        <a href="/cashier">Butiksansat</a>
                        <a href="/driver">Chauffør</a>
                    </div>
                </div>
                <li><a href="/show-customer">Kunder</a></li>
                <li><a href="/show-product">Varer</a></li>
                <li><a href="/show-orders">Bestillinger</a></li>
                <li><a href=/logout>Log ud</a></li>

            </ul>

        </div>

    </nav>
</header>

<div class="header">
    <h1>Indtast venligst chaufførens nye oplysninger</h1>
</div>

<div class="form-container">

<form action = "/update-driver" method ="post">


    <label>Person id</label>
    <input type="text" name="personId" th:value="${driver.personId}" readonly>
        <label>Fornavn</label>
    <input type="text" name="firstName" th:value="${driver.firstName}">
        <label>Efternavn</label>
    <input type="text" name="lastName" th:value="${driver.lastName}">
        <label>Vejnavn</label>
    <input type="text" name="address.streetName" th:value="${driver.address.streetName}">
        <label>Vejnummer</label>
    <input type="text" name="address.streetNumber" th:value="${driver.address.streetNumber}">
        <label>Postnummer</label>
    <input type="text" name="address.zipCode" th:value="${driver.address.zipCode}">
        <label>By</label>
    <input type="text" name="address.city" th:value="${driver.address.city}" readonly>
        <label>Mobilnummer</label>
    <input type="text" name="phoneNumber" th:value="${driver.phoneNumber}">
        <label>E-mail</label>
    <input type="text" name="email" th:value="${driver.email}">
        <label>Alder</label>
    <input type="text" name="age" th:value="${driver.age}">
    <label>Kørekortnummer</label>
    <input type="text" name="driverLicenseNumber" th:value="${driver.driverLicenseNumber}">
    <label>Registreringsnummer</label>
    <input type="text" name="registrationNumber" th:value="${driver.registrationNumber}">

    <div class="checkbox-container">
        <label id="gender">Mand</label>
        <input type="checkbox" name="gender" th:checked="${driver?.gender}">
        <label>Kvinde</label>
        <input type="checkbox" name="woman" th:checked="${woman}">
        <label>Fuldtidsansat</label>
        <input type="checkbox" name="fullTimeEmployee" th:checked="${driver?.fullTimeEmployee}">
    </div>
    <input type="submit" value="Bekræft">

    </form>

        <a th:href="@{'/view-driver/'+${driver?.driverId}}">
            <button class="back-button">Tilbage</button></a>


</div>

</body>
</html>