<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Chauffør</title>
    <link rel="stylesheet" href="view-employee.css"/>
    <link rel="stylesheet" href="layout.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <nav>
        <div class="nav-bar">

            <div class="logo">
                <a href="/">Bakery By Hermann</a>
            </div>

            <ul>
                <li><a href="/departments">Afdelinger</a></li>
                <div class="dropdown">
                    <li class="medarbejder-active"><a href="/">Ansatte</a></li>
                    <div class="dropdown-content">
                        <a href="/baker">Bager</a>
                        <a href="/cashier">Butiksansat</a>
                        <a href="/driver">Chauffør</a>
                    </div>
                </div>
                <li><a href="/show-customer">Kunder</a></li>
                <li><a href="/show-product">Varer</a></li>
                <div class="dropdown">
                    <li><a href="/">Bestillinger</a></li>
                    <div class="dropdown-content">
                        <a href="/show-orders">Aktive bestillinger</a>
                        <a href="/show-archived">Arkiverede bestillinger</a>
                    </div>
                </div>
                <li><a href=/logout>Log ud</a></li>

            </ul>

        </div>

    </nav>
</header>
<div class="employee-container">
    <p>Registrer ny chauffør i systemet og se chauffør informationer</p>
    <a href="/new-driver">
        <button class="new-employee">Opret ny chauffør</button>
    </a>
</div>
<table>

    <h1>
        Chauffør oplysninger
    </h1>

    <thead>

    <tr>

        <th>Person id</th>
        <th>Fornavn</th>
        <th>Efternavn</th>
        <th>Kørekort nummer</th>
        <th>Registrerings nummer</th>
        <th>Vis arbejder info</th>
    </tr>

    </thead>
    <tbody>

    <tr th:each="driver :${driversList}">
        <td th:text="${driver.personId}"></td>
        <td th:text="${driver.firstName}"></td>
        <td th:text="${driver.lastName}"></td>
        <td th:text="${driver.driverLicenseNumber}"></td>
        <td th:text="${driver.registrationNumber}"></td>
        <td>
            <a th:href="@{'/view-driver/'+${driver.driverId}}">
                <button class="view-employee">Vis</button>
            </a>
        </td>

    </tr>

    </tbody>
</table>

</body>
</html>
