<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new-customer</title>
</head>
<body>

<form action="/new-customer" method="post">

    <label>Fornavn</label>
    <input type="text" name="firstName">
    <label>Efternavn</label>
    <input type="text" name="lastName">
    <label>Vejnavn</label>
    <input type="text" name="streetName">
    <label>Vejnummer</label>
    <input type="text" name="streetNumber">
    <label>Postnummer</label>
    <input type="text" name="zipCode">
    <label>Mobilnummer</label>
    <input type="text" name="phoneNumber">
    <label>E-mail</label>
    <input type="text" name="email">
    <label>Gentagne besøg</label>
    <input type="text" name="repeatedVisits">
    <label>Firmanavn</label>
    <input type="text" name="companyName">


    <input type="submit" value="go">
</form>



</body>
</html>