<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kunde</title>
    <link rel="stylesheet" href="/one-order.css"/>
    <link rel="stylesheet" href="/layout.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <nav>
        <div class="nav-bar">

            <div class="logo">
                <a href="/">Bakery By Hermann</a>
            </div>

            <ul>
                <li><a href="/">Afdelinger</a></li>
                <div class="dropdown">
                    <li><a href="/">Ansatte</a></li>
                    <div class="dropdown-content">
                        <a href="/baker">Bager</a>
                        <a href="/cashier">Butiksansat</a>
                        <a href="/driver">Chauffør</a>
                    </div>
                </div>
                <li class="kunde-active"><a href="/show-customer">Kunder</a></li>
                <li><a href="/show-product">Varer</a></li>
                <li><a href="/show-orders">Bestillinger</a></li>
                <li><a href=/logout>Log ud</a></li>

            </ul>

        </div>

    </nav>
</header>

<div class="orderSheet">

    <h3 th:text="${oneCustomer.firstName + ' ' + oneCustomer.lastName}"></h3>

<table class="view-one">
    <tr>
        <td>
            Person id
        </td>

        <td th:text="${oneCustomer.personId}"></td>
    </tr>

    <tr>
        <td>
            Adresse
        </td>

        <td th:text="${oneCustomer.address.streetName + ' ' + oneCustomer.address.streetNumber}"></td>
    </tr>

    <tr>
        <td>
            By
        </td>

        <td th:text="${oneCustomer.address.zipCode + ' ' + oneCustomer.address.city}"></td>
    </tr>

    <tr>
        <td>
            Tlf nr
        </td>

        <td th:text="${oneCustomer.phoneNumber}"></td>
    </tr>

    <tr>
        <td>
            E-mail
        </td>

        <td th:text="${oneCustomer.email}"></td>
    </tr>

    <tr>
        <td>
            Kunde id
        </td>

        <td th:text="${oneCustomer.customerId}"></td>
    </tr>

    <tr>
        <td>
            Gentagende besøg
        </td>

        <td th:text="${oneCustomer.repeatedVisits}"></td>
    </tr>

    <tr>
        <td>
            Firmanavn
        </td>

        <td th:text="${oneCustomer.companyName}"></td>
    </tr>
</table>

    <div class="order-manage">
        <div class="mange-button">
            <a th:href="@{'/update-customer/'+${oneCustomer.customerId}}">
                <button>Redigere</button>
            </a>
        </div>

        <div class="mange-button">
            <a th:href="@{'/customer/'+${oneCustomer.customerId}}" onclick="return confirm('Du er i gang med at slette. Er du sikker?')">
                <button >Slet</button>
            </a>
        </div>

        <div class="mange-button">
            <button>Print</button>
        </div>

        <div class="mange-button">
            <a href="/show-customer">
                <button>Tilbage</button>
            </a>
        </div>

    </div>

    </div>


<!--<h1>
    Kunde oplysninger</h1>
<table>

    <thead>

    <tr>
        <th>Kunde id</th>
        <th>Fornavn</th>
        <th>Gentagne besøg</th>
        <th>Firmanavn</th>
        <th>Rediger</th>
        <th>Slet</th>

    </tr>

    </thead>
<tbody>

    <tr>
        <td th:text="${oneCustomer.customerId}"></td>
        <td th:text="${oneCustomer.firstName}"></td>
        <td th:text="${oneCustomer.repeatedVisits}"></td>
        <td th:text="${oneCustomer.companyName}"></td>

        <td><a th:href="@{'/update-customer/'+${oneCustomer.customerId}}"><button class="update-customer">Rediger</button></a></td>
        <td> <a th:href="@{'/customer/'+${oneCustomer.customerId}}"><button class="delete-customer">Slet</button></a></td>

    </tr>
</tbody>

</table>

<h1>Person oplysninger</h1>
<table>

    <thead>

    <tr>
        <th>Person id</th>
        <th>Kunde id</th>
        <th>Fornavn</th>
        <th>Efternavn</th>
        <th>Mobilnummer</th>
        <th>E-mail</th>

    </tr>

    <tr>
        <td th:text="${oneCustomer.personId}"></td>
        <td th:text="${oneCustomer.customerId}"></td>
        <td th:text="${oneCustomer.firstName}"></td>
        <td th:text="${oneCustomer.lastName}" ></td>
        <td th:text="${oneCustomer.phoneNumber}"></td>
        <td th:text="${oneCustomer.email}"></td>


    </tr>

    </thead>

</table>

<h1>
    Adresse oplysninger
</h1>
<table>


    <thead>

    <tr>
        <th>Person id</th>
        <th>Fornavn</th>
        <th>Vejnavn</th>
        <th>Vejnummer</th>
        <th>Postnummer</th>
        <th>By</th>


    </tr>

    <tr>
        <td th:text="${oneCustomer.personId}"></td>
        <td th:text="${oneCustomer.firstName}"></td>
        <td th:text="${oneCustomer.address.streetName}"></td>
        <td th:text="${oneCustomer.address.streetNumber}"></td>
        <td th:text="${oneCustomer.address.zipCode}"></td>
        <td th:text="${oneCustomer.address.city}"></td>


    </tr>

    </thead>

</table>
-->



</body>
</html>