<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customer Home</title>
    <link rel="stylesheet" href="../view-customer.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="layout.css"/>
</head>
<body>

<header>
    <nav>
        <div class="nav-bar">

            <div class="logo">
                <a href="/">Bakery By Hermann</a>
            </div>

            <ul>
                <li><a href="/">Startside</a></li>
                <li><a href="#">Bestilling</a></li>
                <li class="kunde-active"><a href="/show-customer">Kunde</a></li>
                <div class="dropdown">
                    <li><a href="/">Medarbejder</a></li>
                    <div class="dropdown-content">
                        <a href="/baker">Bager</a>
                        <a href="/cashier">Butiksansat</a>
                        <a href="/driver">Chauffør</a>
                    </div>
                </div>
                <li><a href="#">Hjælp</a></li>

            </ul>

        </div>

    </nav>
</header>
    <div class="customer-container">
    <p>Registrer ny kunde i systemet og se kunde informationer</p>
    <a href="/new-customer"><button class="new-customer">Opret ny kunde</button></a>
    </div>

<table>
        <h1>
            Kunde oplysninger
        </h1>

    <thead>

        <tr>
            <th>Kunde id</th>
            <th>Fornavn</th>
            <th>Gentagne besøg</th>
            <th>Firmanavn</th>
            <th>Vis kunde info</th>


        </tr>

    <tr th:each="customer :${customersList}" >
        <td th:text="${customer.customerId}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.repeatedVisits}"></td>
        <td th:text="${customer.companyName}"></td>
        <td>
            <a th:href="@{'/view-customer/'+${customer.customerId}}">
                <button class="view-customer">Vis</button> </a>
        </td>


    </tr>

    </thead>

</table>



</body>
</html>