<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customer Home</title>
    <link rel="stylesheet" href="index.css"/>
</head>
<body>

<nav>
    <div class="menu">

        <div class="logo">
            <a href="#">Bakery By Hermann</a>
        </div>

        <ul>
            <li><a href="/">Startside</a></li>
            <li><a href="#">Bestilling</a></li>
            <li><a href="/show-customer">Kunde</a></li>
            <div class="dropdown">
                <li><a href="#">Medarbejder</a></li>
                <div class="dropdown-content">
                    <a href="/baker">Bager</a>
                    <a href="/cashier">Butiksansat</a>
                    <a href="/driver">Chauffør</a>
                </div>
            </div>
            <li><a href="#">Hjælp</a></li>

        </ul>

    </div>

</nav>

<table>

    <thead>

        <tr>
            <th>person id</th>
            <th>Kunde id</th>
            <th>Fornavn</th>
            <th>Efternavn</th>
            <th>Vejnavn</th>
            <th>Vejnummer</th>
            <th>Postnummer</th>
            <th>By</th>
            <th>Mobilnummer</th>
            <th>E-mail</th>
            <th>Gentagne besøg</th>
            <th>Firmanavn</th>

        </tr>

    <tr th:each="customer :${customersList}" >
        <td th:text="${customer.personId}"></td>
        <td th:text="${customer.customerId}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.lastName}" ></td>
        <td th:text="${customer.address.streetName}"></td>
        <td th:text="${customer.address.streetNumber}"></td>
        <td th:text="${customer.address.zipCode}"></td>
        <td th:text="${customer.address.city}"></td>
        <td th:text="${customer.phoneNumber}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.repeatedVisits}"></td>
        <td th:text="${customer.companyName}"></td>
        <td>
            <a th:href="@{'/update-customer/'+${customer.personId}}">Edit</a>
            <a th:href="@{'/customer/'+${customer.personId}}">Delete</a>
            <a href="/new-customer">Add</a>
        </td>

    </tr>

    </thead>

</table>

</body>
</html>