
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Customer</title>
</head>
<body>

<form action = "/update-customer" method ="post">

    <label>id</label>
    <input type="text" name="personId" th:value="${customer.personId}" readonly>
    <label>Fornavn</label>
    <input type="text" name="firstName" th:value="${customer.firstName}" readonly>
    <label>Efternavn</label>
    <input type="text" name="lastName" th:value="${customer.lastName}">
    <label>Addressid</label>
    <input type="text" name="address.addressId" th:value="${customer.address.addressId}"readonly>
    <label>Vejnavn</label>
    <input type="text" name="address.streetName" th:value="${customer.address.streetName}">
    <label>Vejnummer</label>
    <input type="text" name="address.streetNumber" th:value="${customer.address.streetNumber}">
    <label>Postnummer</label>
    <input type="text" name="address.zipCode" th:value="${customer.address.zipCode}">
    <label>By</label>
    <input type="text" name="address.city" th:value="${customer.address.city}" readonly>
    <label>Mobilnummer</label>
    <input type="text" name="phoneNumber" th:value="${customer.phoneNumber}">
    <label>E-mail</label>
    <input type="text" name="email" th:value="${customer.email}">
    <label>Gentagne besøg</label>
    <input type="text" name="repeatedVisits" th:value="${customer.repeatedVisits}">
    <label>Firmanavn</label>
    <input type="text" name="companyName" th:value="${customer.companyName}">


    <input type="submit" value="go">

</form>

</body>
</html>

