<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forside</title>
    <link rel="stylesheet" href="index.css"/>
    <link rel="stylesheet" href="layout.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">


</head>
<body>

<header>
    <nav>
        <div class="nav-bar">

            <div class="logo">
                <a href="/">Bakery By Hermann</a>
            </div>

            <ul>
                <li><a href="/departments">Afdelinger</a></li>
                <div class="dropdown">
                    <li><a href="/">Ansatte</a></li>
                    <div class="dropdown-content">
                        <a href="/baker">Bager</a>
                        <a href="/cashier">Butiksansat</a>
                        <a href="/driver">Chauffør</a>
                    </div>
                </div>
                <li><a href="/show-customer">Kunder</a></li>
                <li><a href="/show-product">Varer</a></li>
                <div sec:authorize="hasRole('ADMIN')" class="dropdown">
                    <li><a href="/">Bestillinger</a></li>
                    <div class="dropdown-content">
                    <a href="/show-orders">Aktive bestillinger</a>
                    <a href="/show-archived">Arkiverede bestillinger</a>
                    </div>
                </div>

                <form method="post" th:action="@{/logout}">

                    <li>  <input type="submit" value="Log ud"> </li>
                    <input type="hidden" th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}">

                </form>

            </ul>

        </div>

    </nav>
</header>

<div class="img-container"></div>

<div  class="center-container">

   <div th:class="role">
   <th:block th:each="role, iter:${#authentication.getAuthorities()}">
        <span th:text="${role.getAuthority()}"></span>
       <th:block th:if="${!iter.last}">, </th:block>
       </th:block>
    </div>

    <div class="role" sec:authorize="isAuthenticated()">
       <p sec:authentication="name"></p>
    </div>

    <div class="header">Er du eksisterende eller ny kunde?</div>

    <div sec:authorize="hasAnyRole('ADMIN','WORKER')" class="buttons">
        <a href="/new-order">
            <button>Opret bestilling</button>
        </a>
        <a href="/new-customer">
            <button>Opret kunde</button>
        </a>
    </div>
</div>

</body>
</html>