<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forside</title>
    <link rel="stylesheet" href="index.css"/>
    <link rel="stylesheet" href="layout.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">


</head>
<body>

<header>
    <nav>
        <div class="nav-bar">

            <div class="logo">
                <a href="/">Bakery By Hermann</a>
            </div>

            <ul>
                <li class="home-active" ><a href="/">Startside</a></li>
                <li><a href="#">Bestilling</a></li>
                <li><a href="/show-customer">Kunde</a></li>
                <div class="dropdown">
                    <li><a href="/">Medarbejder</a></li>
                    <div class="dropdown-content">
                        <a href="/baker">Bager</a>
                        <a href="/cashier">Butiksansat</a>
                        <a href="/driver">Chauffør</a>
                    </div>
                </div>
                <li><a href="#">Hjælp</a></li>

            </ul>

        </div>

    </nav>
                  </header>

    <div class="img-container"></div>

    <div class="center-container">
        <div class="header">Her kan du oprette bestillinger</div>

        <div class="buttons">
            <a href="/new-customer"><button>Opret bestilling</button></a>
            <a href="/new-customer"><button>Opret kunde</button></a>
        </div>
    </div>

</body>
</html>