<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new-customer</title>
</head>
<body>

<form action="/new-customer" method="post">
    <label>Enter first name </label>
    <input type="text" name="firstName">
    <label>Enter last name </label>
    <input type="text" name="lastName">
    <label>Enter phone number  </label>
    <input type="text" name="phoneNumber">
    <label>Enter e-mail name </label>
    <input type="text" name="email">
    <label>Repeated visits name </label>
    <input type="text" name="repeatedVisits">
    <label>Enter Company name name </label>
    <input type="text" name="companyName">
    <label>Enter address name </label>
    <input type="text" name="address">
    <label>Enter zip code name </label>
    <input type="text" name="zipCode">

    <input type="submit" value="go">
</form>



</body>
</html>