<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Customer</title>
</head>
<body>

<form action = "/update-customer" method ="post">

    <label>Kunde id</label>
    <input type="text" name="personId" th:value="${customer.personId}">
    <label>Fornavn</label>
    <input type="text" name="firstName" th:value="${customer.firstName}">
    <label>Efternavn</label>
    <input type="text" name="lastName" th:value="${customer.lastName}">
    <label>Adresse</label>
    <input type="text" name="address" th:value="${customer.address}">
    <label>Postnummer</label>
    <input type="text" name="zipCode" th:value="${customer.zipCode}">
    <label>Mobilnummer</label>
    <input type="text" name="phoneNumber" th:value="${customer.phoneNumber}">
    <label>E-mail</label>
    <input type="text" name="email" th:value="${customer.email}">
    <label>Gentagne besøg</label>
    <input type="text" name="repeatedVisits" th:value="${customer.repeatedVisits}">
    <label>Firmanavn</label>
    <input type="text" name="companyName" th:value="${customer.companyName}">


    <input type="submit" value="go">

</form>

</body>
</html>

