<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new department</title>
    <link rel="stylesheet" href="add-edit-department.css"/>
    <link rel="stylesheet" href="layout.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <nav>
        <div class="nav-bar">

            <div class="logo">
                <a href="/">Bakery By Hermann</a>
            </div>

            <ul>
                <li class="afdeling-active"><a href="/departments">Afdelinger</a></li>
                <div class="dropdown">
                    <li><a href="/">Ansatte</a></li>
                    <div class="dropdown-content">
                        <a href="/baker">Bager</a>
                        <a href="/cashier">Butiksansat</a>
                        <a href="/driver">Chauffør</a>
                    </div>
                </div>
                <li><a href="/show-customer">Kunder</a></li>
                <li><a href="/show-product">Varer</a></li>
                <div class="dropdown">
                    <li><a href="/">Bestillinger</a></li>
                    <div class="dropdown-content">
                        <a href="/show-orders">Aktive bestillinger</a>
                        <a href="/show-archived">Arkiverede bestillinger</a>
                    </div>
                </div>
                <li><a href=/logout>Log ud</a></li>

            </ul>

        </div>

    </nav>
</header>

<div class="header">
    <h1>Indtast venligst afdelingens oplysninger</h1>
</div>

<div class="form-container">

    <form action="/new-department" method="post">


        <label>Afdelingens navn</label>
        <input type="text" name="locationName">
        <label>Afdelingens forkortelse</label>
        <input type="text" name="shortName">
        <label>Vejnavn</label>
        <input type="text" name="streetName">
        <label>Vejnummer</label>
        <input type="text" name="streetNumber">
        <label>Postnummer</label>
        <input type="text" name="zipCode">


        <input type="submit" value="Opret">
    </form>
</div>

</body>
</html>